
'stdphoto' [files]
'stdfrist_name'
'stdmiddle_name'
'stdlast_name'
'stdGender'
'stdDOB'

step2 (std home)
'stdcountry'
'stdprovince'
'stdDistrict'
'stdCity'
'stdCounty'
'stdSubcounty'

step 3 (emergency)
'emFname'
'emMname'
'emLname
'emRelation'
'emType'
'emMobile
'emTel
'emMail
'emAddress' [Text Area]
'emphoto' [files]

step 4 (Class)
'stdsection'
'stdclass'
----ple----
'pleSchool'
'pleYear'
'pleIndex'
'pleEng'
'pleMath'
'pleScience'
'pleSST'
'pleAggs'
'pleDivision'
--- uce ---
'uceSchool'
'uceYear'
'uceIndex'
'uceAgg'
'uceDivision'
'uceSubjects'

step 5
---living with---
name='livewith'
--- father---
'FatherFname'
'FatherMname'
'FatherLname'
'FatherEmail'
'FatherMobile'
'FatherTel'
'FatherIDType'
'FatherIDNo'
'FatherCountry'
'FatherNationality'
'FatherProvince'
'FatherDistrict'
'FatherCity'
'FatherCounty'
'FatherSubcounty'
'FatherParish'
'FatherAddress' [Text Area]
'FatherPhoto' [files]
--- mother ------
'MotherFname'
'MotherMname'
'MotherLname'
'MotherEmail'
'MotherMobile'
'MotherTel'
'MotherIDType'
'MotherIDNo'
'MotherCountry'
'MotherNationality'
'MotherProvince'
'MotherDistrict'
'MotherCity'
'MotherCounty'
'MotherSubcounty'
'MotherParish'
'MotherAddress' [Text Area]
'MotherPhoto' [files]

--- Guardian ------
'GuardFname'
'GuardMname'
'GuardLname'
'GuardEmail'
'GuardMobile'
'GuardTel'
'GuardRelation'
'GuardIDType'
'GuardIDNo'
'GuardCountry'
'GuardNationality'
'GuardProvince'
'GuardDistrict'
'GuardCity'
'GuardCounty'
'GuardSubcounty'
'GuardParish'
'GuardAddress' [Text Area]
'GuardPhoto' [files]

---- step6 ---- (medical)
name='stdmedical'
'medicalName'
'medicalDescription' [Text Area]

--- step 7 (T$C)
'agree'
----- step -- (comment)
'officialComment' [Text Area]














